{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
    <div>
        <h1 style="text-align: center;color: red">关于我们</h1>
        <span style="text-align: center;font-size: 20px;">
        &nbsp;&nbsp;&nbsp;&nbsp;老男孩教育(北京一天天教育科技有限公司)是一家专业培养资深IT工程师并让学员高薪就业、国内专注于Linux运维、Python高端纯开发以及高端大数据的培训机构与项目外包的企业，公司成立于2007年，总部设立在北京。

目前，旗下开展两大业务，老男孩IT教育培训和IT项目服务部。一方面，公司致力于为国内、国际大中型互联网企业培养市场紧缺的系统工程师、高级架构师、系统开发工程师等职位；另一方面，公司为企业提供企业级的各类高端技术培训、技术咨询、技术流程、技术规划、技术架构及调优方案，并参与实施后期维护，把互联网的成熟技术经验渗入到各大领域。

公司在IT培训方面教学质量优秀、教学理念先进、教学方法独特，十分注重理论+实战相结合，全部为名师手把手的带领“课堂即实战式”教学。其中的4项学习思想方针(目标、方法、努力、坚持)和6重教学理念(重目标、重思路、重方法、重实践、重习惯、重总结)已深入广大IT网友及学员的内心，逐步成为互联网IT行业内教育经典。公司全网首创老男孩网络课堂——“在线一对一VIP辅导”全新的教学模式，让学员不受时间、空间、地域的限制，随时报名随时开始学习。

老男孩IT教育在国内IT行业享有广泛赞誉，公司凭借高品质的职业IT训练和毕业学员的良好口碑，在行业内一展雄姿。截止到目前为止，公司已培养数千名VIP学生，间接影响百万IT群体，毕业学员平均工资在毕业一年内平均12K以上，高级架构班平均就业20K以上，而以往同学从0基础到掌握课程内容70%以上即可月薪过万元。目前，从老男孩IT教育毕业的学员，很多已经就职于北京知名互联网企业：小米手机，京东商城，蓝讯，快网，淘宝，阿里，支付宝，新浪网，搜狐，腾讯，58同城，赶集，和讯，世纪佳缘，当当网，中国移动，中国联通等，也有很多在中小型企业任核心运维及运维经理总监职位(寻医问药总监，互动百科总监，盈科律云总监，合力金桥总监等)，累计为行内其他的培训机构讲师深入培训20人以上。

公司秉承“老男孩IT教育，只培养技术精英”，因为专注，所以卓越。
        </span>
    </div>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>

{% endblock %}